/* Allgemeine Stile */
body {
    font-family: 'Roboto', sans-serif;
    color: #333333;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    background-image: url('html/assets/img/gta_background.jpg'); /* Hintergrundbild anpassen */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

header {
    background-color: #333333;
    color: #ffffff;
    text-align: center;
    padding: 50px 0;
}

nav {
    background-color: #444444;
    padding: 20px 0;
    border-radius: 8px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #555555;
}

main {
    padding: 40px 0;
}

footer {
    background-color: #333333;
    color: #ffffff;
    text-align: center;
    padding: 30px 0;
}

section {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 30px;
}

h2 {
    color: #333333;
}

ul {
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
}

.button {
    display: inline-block;
    background-color: #007bff;
    color: #ffffff;
    padding: 15px 30px;
    border-radius: 8px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}


.logo {
    max-width: 200px;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Allgemeine Stile für das Scroll-Design */
::-webkit-scrollbar {
    width: 10px; /* Breite des Scrollbalkens */
    background-color: #f5f5f5; /* Hintergrundfarbe des Scrollbalkens */
}

::-webkit-scrollbar-thumb {
    background-color: #0fd2fe; /* Farbe des Scrollbalken-Griffes */
    border-radius: 10px; /* Runde Ecken für den Griff */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #FD1FFF; /* Farbe des Scrollbalken-Griffes bei Hover */
}
